.field {
  min-height: 60px;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.field.empty {
  margin: 10px 15px;
}

.field.empty:first-child {
  margin: 20px 15px 10px;
}

.field.empty:last-child {
  margin: 10px 15px 20px;
}

.field.empty {
  border: 1px dashed #c4c4c4;
}

.paste {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms;
  cursor: pointer;
  font-family: 'Cera Pro', sans-serif;
  color: #989898;
  font-size: 16px;
}

:is(.paste, .clear).hidden {
  display: none;
}

.clear {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0;
  transition: opacity 200ms;
  cursor: pointer;
}

.field:hover :is(.paste, .clear) {
  opacity: 1;
}